p {
  text-align: justify;
  text-indent: 1em;
}
strong {
	color: red;
  font-size: 110%; 
	font-weight: bold;
}
ul.selector {
  text-align: right;
}
ul.selector li {
  display: inline-block;
  border: 1px solid #D35400;
  padding: 5px;
  background: #F6CC72;
  width: 100px;
  text-align: center;
}
table {
  width: auto;
}
.fb-share-button { /* https://blog.lqd.jp/css/css/ */
  display: inline-block;
  height: 20px;
  overflow: hidden;
}
